Repository ncku-study/ncku-study: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "eslint"
  ],
  "./src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "./pages/**/*.{ts,tsx}": [
    "eslint"
  ],
  "./pages/**/*": [
    "prettier --write"
  ]
}

fix: `sidebar` typo
  src/__tests__/components/GlobalLayout/__snapshots__/snapshot.js.snap
  src/__tests__/components/GlobalLayout/index.test.js
  src/__tests__/components/GlobalLayout/snapshot.js
  src/components/GlobalLayout/Banner/index.tsx
  src/components/GlobalLayout/SideBar/SideBarItems/index.tsx
  src/components/GlobalLayout/SideBar/index.tsx
  src/redux/actions/layout.ts
  src/redux/reducers/layout.ts
  src/redux/selectors/layout.ts
Due: eslint, prettier --write

fix: `sidebar` typo
  src/components/GlobalLayout/useMediaEffect.ts
Due: eslint, prettier --write

ci: add linting stage and frontend testing stage in workflows
  .github/workflows/ci.yml
Due: none

fix: click event doesn't work
  src/components/atom/Badge/index.tsx
Due: eslint, prettier --write

test: atom/Badge
  src/__tests__/components/atom/Badge/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Badge/index.test.js
  src/components/atom/Badge/index.tsx
Due: eslint, prettier --write

fix: wrong query method
  src/__tests__/components/atom/Badge/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Badge/index.test.js
  src/components/atom/Badge/index.tsx
Due: eslint, prettier --write

refactor: recover searchbar with ts
  .eslintrc
  src/components/GlobalLayout/Banner/Title/style.ts
  src/components/SearchBar/InputBar.js
  src/components/SearchBar/index.tsx
  src/components/SearchBar/style.js
  src/components/SearchBar/style.ts
Due: eslint, prettier --write

fix: NavSearchBar context provider
  lib/useUser.ts
  pages/_app.tsx
  src/components/GlobalLayout/Banner/Title/index.tsx
  src/components/GlobalLayout/NavSearchBarContext/index.tsx
  src/components/GlobalLayout/NavSearchProvider.tsx
  src/components/GlobalLayout/index.tsx
Due: eslint, prettier --write

lint: block commands for unused code
  src/components/GlobalLayout/Notification/index.js
  src/components/GlobalLayout/Notification/index.tsx
  src/components/GlobalLayout/Notification/style.js
  src/components/GlobalLayout/Notification/style.ts
  src/components/GlobalLayout/Notification/useInitNotification.js
  src/components/GlobalLayout/Notification/useInitNotification.ts
  src/components/atom/InputWithPrefix/style.ts
Due: eslint, prettier --write

test: atom/Button
  src/__tests__/components/atom/Button/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Button/index.test.js
Due: prettier --write

test: atom/ClickListener
  src/__tests__/components/atom/ClickListener/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/ClickListener/index.test.js
Due: prettier --write

test: update describe
  src/__tests__/components/atom/Badge/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Badge/index.test.js
  src/__tests__/components/atom/Button/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Button/index.test.js
Due: prettier --write

test: atom/Input
  src/__tests__/components/atom/Input/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Input/index.test.js
Due: prettier --write

test: atom/InputLabel
  src/__tests__/components/atom/InputLabel/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/InputLabel/index.test.js
Due: prettier --write

fix: eslint export default format error
  src/components/atom/InputWithPrefix/style.ts
Due: eslint, prettier --write

feat: recover modals
  .eslintrc
  package-lock.json
  package.json
  src/components/modals/ReaderModal/index.tsx
  src/components/modals/ReaderModal/style.ts
  src/redux/actions/modal.ts
  src/redux/reducers/modal.ts
  src/redux/selectors/modal.ts
  src/redux/store.ts
  src/utils/index.ts
  src/utils/redux/components/modal/useModalState.ts
  yarn.lock
Due: eslint, prettier --write

feat: recover `Study` page
  pages/study.tsx
  src/components/LoadingFrame/LoaingIcon/index.tsx
  src/components/LoadingFrame/index.tsx
  src/components/LoadingFrame/style.ts
  src/components/readers/StudyReader/index.tsx
  src/components/readers/StudyReader/style.ts
  src/pages/Study/CardList/index.tsx
  src/pages/Study/CardList/style.ts
  src/pages/Study/index.tsx
  src/pages/Study/style.ts
  styles/global.scss
Due: eslint, prettier --write

test: atom/InputWithPrefix
  src/__tests__/components/atom/InputWithPrefix/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/InputWithPrefix/index.test.js
Due: prettier --write

test: atom/Label
  src/__tests__/components/atom/Label/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Label/index.test.js
Due: prettier --write

test: atom/TypeIcon
  src/__tests__/components/atom/TypeIcon/index.test.js
Due: prettier --write

test: atom/Option
  src/__tests__/components/atom/Option/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Option/index.test.js
Due: prettier --write

fix: objValue undefined may cuz unknow error
  src/components/atom/PairInput/index.tsx
Due: eslint, prettier --write

test: atom/PairInput
  src/__tests__/components/atom/PairInput/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/PairInput/index.test.js
Due: prettier --write

chore: delete `package-lock.json`
  package-lock.json
Due: none

feat: apply thunk, recover infinite scrolling
  package.json
  src/components/InfiniteScroll/index.tsx
  src/components/InfiniteScroll/style.ts
  src/pages/Study/CardList/index.tsx
  src/pages/Study/CardList/useFetchData.ts
  src/redux/hooks.ts
  src/redux/middlewares/study.ts
  src/redux/store.ts
  src/utils/index.ts
  src/utils/useParentSize.ts
  yarn.lock
Due: eslint, prettier --write

test: update TypeIcon snapShot
  src/__tests__/components/atom/TypeIcon/__snapshots__/index.test.js.snap
Due: none

chore: replace `yarn-lock` with `package-lock`
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: ensure get the lastest version
  DockerFile
Due: none

feat: replace rippling's scss with styled component
  src/components/LoadingFrame/LoaingIcon/index.tsx
  src/components/LoadingFrame/LoaingIcon/style.ts
  src/components/LoadingFrame/index.tsx
  styles/global.scss
Due: eslint, prettier --write

feat: replace all scss files with styled component
  pages/_app.tsx
  src/components/modals/ReaderModal/index.tsx
  src/components/modals/ReaderModal/style.ts
  styles/global.js
  styles/global.scss
  styles/global.ts
  styles/variables.scss
Due: eslint, prettier --write

chore: remove sass dependency
  next.config.js
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: apply middleware for infinite scrolling
  pages/api/study.ts
  src/components/InfiniteScroll/index.tsx
  src/pages/Study/CardList/index.tsx
  src/pages/Study/CardList/useFetchData.ts
  src/redux/actions/study.ts
  src/redux/middlewares/study.ts
  src/redux/reducers/study.ts
  src/redux/selectors/study.ts
  src/redux/store.ts
  src/utils/index.ts
  src/utils/useEffectOnce.ts
Due: eslint, prettier --write

feat: apply SWR
  pages/study.tsx
  src/components/InfiniteScroll/index.tsx
  src/components/LoadingFrame/index.tsx
  src/pages/Study/CardList/index.tsx
  src/pages/Study/CardList/useFetchData.ts
  src/pages/Study/index.tsx
  src/pages/Study/useInitStudy.ts
  src/redux/actions/study.ts
  src/redux/middlewares/study.ts
  src/redux/reducers/study.ts
Due: eslint, prettier --write

fix: update deps of useEffectOnce
  src/pages/Study/useInitStudy.ts
  src/utils/useEffectOnce.ts
Due: eslint, prettier --write

feat: update seeder
  database/seeders/20220714000000-category.js
Due: none

fix: atom/Badge & InputWithPrefix cannot be styled
  src/components/atom/Badge/index.tsx
  src/components/atom/InputWithPrefix/index.tsx
  src/components/atom/propsType.d.ts
Due: eslint, prettier --write

test: remove className's test
  src/__tests__/components/atom/Badge/__snapshots__/index.test.js.snap
  src/__tests__/components/atom/Badge/index.test.js
Due: prettier --write

feat: rename useEffectOnce to useDidMount
  src/utils/useDidMount.ts
Due: eslint, prettier --write

fix: rename useEffectOnce hook
  src/utils/index.ts
Due: eslint, prettier --write

fix: update missing util
  src/pages/Study/useInitStudy.ts
Due: eslint, prettier --write
