Repository ncku-study/ncku-study: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: recover studyCard and list
  pages/api/study.ts
  src/components/InfiniteScroll/index.tsx
  src/components/InfiniteScroll/style.ts
  src/components/cards/StudyCard/index.tsx
  src/components/cards/StudyCard/style.ts
  src/components/cards/StudyCard/useOpenContent.ts
  src/pages/Study/CardList/index.tsx
  src/pages/Study/CardList/useFetchData.ts
  src/pages/Study/useInitStudy.ts
  src/redux/actions/study.ts
  src/utils/seo/header.ts
  src/utils/transition.ts
  src/wording/general.json
Due: eslint, prettier --write

update: support db
  DockerFile
  buildImage.bat
  docker-compose.yml
  readme.md
Due: none

feat: add db adminer
  buildImage.bat
  docker-compose.yml
Due: none

refactor: atom propsType
  src/components/atom/Badge/index.tsx
  src/components/atom/Button/index.ts
  src/components/atom/ClickListener/index.tsx
  src/components/atom/Input/index.tsx
  src/components/atom/InputWithPrefix/index.tsx
  src/components/atom/Label/index.tsx
  src/components/atom/Label/style.ts
  src/components/atom/PairInput/index.tsx
  src/components/atom/TypeIcon/index.ts
  src/components/atom/muiStyleProps.d.ts
  src/components/atom/propsType.d.ts
Due: eslint, prettier --write

test: update test
  src/__tests__/components/atom/Badge/index.test.js
  src/__tests__/components/atom/Input/index.test.js
  src/__tests__/components/atom/InputWithPrefix/index.test.js
  src/__tests__/components/atom/Label/index.test.js
  src/__tests__/components/atom/PairInput/index.test.js
Due: prettier --write

fix: remove unused code
  src/components/cards/StudyCard/index.tsx
Due: eslint, prettier --write

fix: annoying auto restart
  docker-compose.yml
Due: none

chore: configure debugger on vscode
  .vscode/launch.json
  .vscode/settings.json
Due: none

feat: recover modal context flow
  src/components/cards/StudyCard/index.tsx
  src/components/cards/StudyCard/useOpenContent.ts
  src/redux/actions/modal.ts
  src/redux/reducers/modal.ts
  src/redux/selectors/modal.ts
  src/utils/redux/components/modal/transIntoModalData.ts
  src/utils/redux/components/modal/useModalContext.ts
  src/utils/redux/components/modal/useModalState.ts
Due: eslint, prettier --write

feat: recover study reader (without administration)
  src/components/modals/ReaderModal/index.tsx
  src/components/readers/StudyReader/CategoryBlock/index.tsx
  src/components/readers/StudyReader/CategoryBlock/style.ts
  src/components/readers/StudyReader/StatisticBlock/StatisticItem/index.tsx
  src/components/readers/StudyReader/StatisticBlock/StatisticItem/style.ts
  src/components/readers/StudyReader/StatisticBlock/index.tsx
  src/components/readers/StudyReader/StatisticBlock/style.ts
  src/components/readers/StudyReader/Title/index.tsx
  src/components/readers/StudyReader/Title/style.ts
  src/components/readers/StudyReader/index.tsx
  src/components/readers/StudyReader/style.ts
  src/redux/actions/study.ts
Due: eslint, prettier --write

feat: migrate `Major` declaration
  src/components/readers/StudyReader/index.tsx
  src/redux/actions/major.ts
  src/redux/actions/modal.ts
  src/redux/reducers/modal.ts
  src/utils/redux/components/modal/transIntoModalData.ts
  src/utils/redux/components/modal/useModalContext.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: ./src/**/*.{ts,tsx}) or (any of: ./pages/**/*.{ts,tsx})
  prettier --write: (any of: ./src/**/*.{js,jsx,ts,tsx}) or (any of: ./pages/**/*)
